<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="https://github.com/edirom/mermeid" abbrev="mermeid"
    version="@repository.version@" spec="1.0">
    <title>Metadata Editor and Repository for MEI Data</title>
    <dependency processor="http://exist-db.org" semver-min="5.0.0"/>
    <dependency package="http://exist-db.org/apps/shared"/>
    <dependency package="http://www.functx.com"/>
    <dependency package="http://exist-db.org/apps/monex"/>
</package>
