<?xml version = '1.0' encoding = 'UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
  Author: Sigfrid Lundberg (slu@kb.dk)
  $Revision: 949 $ last modified $Date: 2015-10-09 10:21:58 +0200 (Fri, 09 Oct 2015) $ by $Author: slu $
-->
<web-app>
  <description>web.xml file for the HttpFilter eXist proxy</description>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
 
  <servlet>
    <servlet-name>HttpFilter</servlet-name>
    <servlet-class>dk.kb.mermeid.filter.HttpFilter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>dk.kb.mermeid.filter.DeleteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>NewFileServlet</servlet-name>
    <servlet-class>dk.kb.mermeid.filter.NewFileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NewFileServlet</servlet-name>
    <url-pattern>/new/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HttpFilter</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


</web-app>
