/* CSS for MerMEId XForms - supplement for model editor forms */

body.orbeon {   
    font-size: .8em;
    font-family: arial, helvetica, sans-serif;
    background-color: #aaa;
    background-repeat: repeat-x;
    background-attachment: fixed;
    padding:20px;
    margin:0px;
}

.orbeon div.details_form_header {
    background-color : #555;
    color: #fff;
    padding: 4px 8px;
    margin: -10px -10px 10px -10px;
    font-weight : bold;
    height: 24px;
}

.orbeon div.details_form_header h3 {
    margin:-5px 0 0 0;
}

.orbeon div.details_form_header .xforms-trigger-appearance-full {
    margin:-5px 0 0 0;
}

.orbeon div.main {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #999;
}
