/* CSS for MerMEId XForms */

/* DISABLE SOME ORBEON-SPECIFIC STYLING */
/* override highlighting of selected nodes */
.xforms-repeat-selected-item-1,
.xforms-repeat-selected-item-2,
.xforms-repeat-selected-item-3,
.xforms-repeat-selected-item-4 {
    background-color: inherit;
}

/* loading indicator */

.orbeon .xforms-loading-loading {
    display: none;
    
    /* semi-transparent overlay */
    background-color: rgba(0,0,0,0.4);
    padding: 0;
    top: 0 !important;
    left: 0;
    position: fixed;
    z-index: 1010;   
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    
/*    background-image: url('/editor/images/throbber.gif');
    background-repeat: no-repeat;
    background-position: 95px 12px; */
    
    
/* make 'Loading...' invisible */
/*  
    font-size: .1px;
    color: transparent;
*/
}

/* override controls style */
.xforms-input, .xforms-select1 {
    width: inherit;
    height: inherit;
    padding: 0;
}

.xforms-input {
    background-color: inherit;
}

.xforms-textarea {
    background-color: transparent;
}

.xbl-component{
    display:inline;
}

.orbeon .xforms-dialog .bd {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px 10px 20px 10px;
}

.orbeon .xforms-dialog .xforms-trigger-appearance-minimal {
    padding: 0 10px;    
} 


.yui-dialog {
    z-index: 2000 !important;
}

.yui-panel-container {
    box-shadow: 7px 7px 10px 5px rgba(0,0,30,0.5);
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 7px 7px 15px 0px #333;
}

.yui-skin-sam .yui-panel .hd {
    font-size: 1em;
}

.yui-calcontainer {
    font-size: .85em;
}

.yui-calcontainer .selector {
    width: 2em;
}

.mask {
    z-index: 1001 !important;
    -moz-opacity:.50; 
    filter:alpha(opacity=50); 
    opacity:.50;
    background-color: #000;
}

/* hide XForms Inspector's controls */
.fr-xforms-inspector-block {
/*    display: none; */ 
}

/* tinyMCE text editor */
.xbl-fr-tinymce {
    display: inline;
    display: inline-block;
    width: 90%;
}

.mceContentBody {
    /* the white-space:pre-wrap option prevents &amp;nbsp; entities created by tinymce; 
       in effect, it also cuts repeated spaces down to one */
    white-space: pre-wrap;
}

/* END DISABLE ORBEON STYLING */

.orbeon a:hover, a:hover {
    text-decoration: none;
    color: #000;
}

.orbeon a:active, a:active {
   border: 0px;
}

div.inputdiv {
    margin: 4px 16px 24px 8px;
    padding: 0px;
    padding-top: 10px;
    margin-top:0px;
}

div.inputbox {
    margin: 5px 0px;
    padding: 4px;
    border: 1px solid #aaa;
}

.orbeon fieldset {
    padding: 0px 3px 5px 5px;
    margin: 2.2em 0px 5px 0px;
    background-color: #e8e8e8 !important; 
    border: 1px solid #999999;
}

.orbeon fieldset .compact {
    margin: 2px 0 2px 0;
}

.orbeon fieldset fieldset {
    margin: 10px 2px 0px 0px;
}

.orbeon fieldset fieldset {
    background-color: #ddd !important;
}

.orbeon fieldset legend {
    background-color: #bbb !important;
    margin-bottom: 3px;
    font-size: 1em;
}


.orbeon fieldset fieldset legend,
.orbeon fieldset fieldset fieldset legend,
.orbeon fieldset fieldset fieldset fieldset legend {
    background-color: #ccc !important;
}

.orbeon fieldset fieldset fieldset, 
.orbeon fieldset fieldset fieldset fieldset fieldset fieldset {
    background-color: #ccc !important;
}

.orbeon fieldset fieldset fieldset fieldset {
    background-color: #e8e8e8 !important;
}

.orbeon fieldset.componentList, .orbeon legend.componentList {
        background-color: #F0F0B1 !important;
}

.history .xbl-dcm-bibl-input fieldset,
.history .xbl-dcm-bibl-input fieldset legend {
    background-color: transparent !important;
    border-color: transparent !important;
}

.history .xbl-dcm-bibl-input fieldset {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999 !important;
}

.input_block {
    border: 1px solid #999;
    padding: 5px;
}

.orbeon legend {
    position:relative;
    background-color: #aaa; 
    font-weight: bold;
    border: #aaa solid 1px;
    border-bottom: none;
    height: 18px;
    line-height: inherit;
    padding: 3px 4px 1px 4px;
    margin: -6px;
    width: 100%;
}

.orbeon table, .orbeon tr, .orbeon td {
    margin: 0px;
    padding: 0px;
    border: none;    
    border-collapse: separate;
}


.orbeon h1, .orbeon h2, .orbeon h3 {
    line-height: 1em;
} 

.orbeon h3 {
    font-size: 1.3em;
} 

.orbeon hr {
    margin: 4px 0px;
    padding: 0px;
    height: 1px;
    border: none;
    border-bottom: 1px solid #999999;
    background: transparent;
}

.orbeon .hr {
    border-top: 1px solid #999;
    width: 100%;
}

div.vertical_spacer {
    height: 3px;
}

div.horiz_spacer {
    width: 5px;
    display: inline;
    display: inline-block;
}

.code {
    font-family:courier, fixed, monospace;
    padding-right: 8px;
    white-space: nowrap;
}


/* buttons and triggers */
.editmenu {
    white-space: nowrap;
    vertical-align:bottom;
}

.orbeon button.btn {
    margin: 0px;
    padding: 0px 4px 0px 4px;
    width: auto;
    height: 23px;
    font-family: arial, helvetica, sans-serif;
    font-size: .9em;
    overflow:visible;
    white-space:nowrap;
}

.orbeon input[type="file"] {
    width: 200px;
    font-size: 11px;
} 

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.xforms-upload-select {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload.btn {
/*  font-size: 11px; */
    padding: 1px 4px;
    margin-top: 1px;
    margin-left: 2px;
}

.fileUpload span img {
    vertical-align: middle;
    padding: 0px 2px;
}

button.create_button {
    width: 15em;
    text-align: left;
}

a.non-standard_button {
    margin: 0px -6px !important;
}

.xforms-trigger {
    padding: 1px;
    margin: 0 1px;
}

.orbeon .xforms-trigger a {
    text-decoration: none;
    color: #000;
    outline: 0px none;
}

.xforms-trigger img:hover,
.xforms-submit img:hover {
    background-color: #fff;
}

button.xforms-trigger img,
button img {
    border: none;
    padding: 0;
    vertical-align: middle;
    margin-top: -2px;
}

.xforms-trigger img,
.xforms-submit img,
.xforms-group img {
    border: none;
    padding: 2px;
    vertical-align: baseline;
}


img.button_patch {
    padding: 2px 4px 2px 4px;
}

a.element-button {
    margin-left: -8px;
}

table div.xbl-dcm-element-buttons {
    margin: 0 0 0 0;
}

legend .xforms-trigger img,
legend .xforms-group img {
    margin-top: 0px;
    vertical-align: top; 
}

.instr_subselection .xforms-trigger img {
    vertical-align: middle;
}

#settings-dialog {
    width: 300px;
}

#settings-dialog .xforms-trigger img {
    margin-left: -10px;
    vertical-align: middle;
}

#settings-dialog .xforms-dialog .bd {
    overflow: hidden;
    padding: 25px 10px 15px 10px;
}

/* inputs and labels */

.orbeon label.radio input[type="radio"], 
.orbeon label.checkbox input[type="checkbox"] {
    float: none;
    margin: -3px 6px 0 -20px;
}

.orbeon select {
    display: inline;
    margin: 2px 0px 0px 0px;
    padding: 1px 2px;
    height: 20px;
    width: auto;
}

.orbeon input.xforms-input,
.orbeon input.xforms-input-input {
    display: inline;
    margin: 0px 0px 0px 0px;
    padding: 1px 2px;
    height: 22px;
}

.orbeon textarea.xforms-textarea {
    text-align:left;
    display: inline;
    height: 150px;
    width: 95%;
    margin: 5px 0px 0px 0px;
    padding: 2px;
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    background-color: #ffffff;
}

.orbeon .inputdiv fieldset textarea.mediumheight {
    height: 60px;
}

.orbeon textarea > value {
    padding:2px;
}

.orbeon select.auto_length {
    width: auto;
}

.orbeon .minimal_length select,
.orbeon .minimal_length input.xforms-input-input {
    width: 1.5em;
}

.orbeon .fixed_width_short, 
.orbeon .short select,
.orbeon .short input.xforms-input-input {
    width: 4em;
}

.orbeon .fixed_width,
.orbeon .mediumshort select,
.orbeon .mediumshort input.xforms-input-input {
    width: 8em;
}

.orbeon .fixed_width_mediumlong,
.orbeon .mediumlong select,
.orbeon .mediumlong input.xforms-input-input,
.orbeon button.mediumlong {
    width: 12em;
}

.orbeon .fixed_width_long, 
.orbeon .long select,
.orbeon .long input.xforms-input-input,
.orbeon button.long {
    width: 16em;
}

.orbeon .fixed_width_maxlong, 
.orbeon .maxlong select,
.orbeon .maxlong input.xforms-input-input  {
    width: 22em;
}

.orbeon span.fixed_width, .orbeon span.minimal_length, .orbeon span.fixed_width_short, 
.orbeon span.fixed_width_mediumlong, .orbeon span.fixed_width_long, 
.orbeon span.fixed_width_maxlong, .orbeon .blocklabel {
/*    margin-right: 6px; 
    margin-left: 2px; */
}  

.orbeon label,
.orbeon span.label.xforms-label,
.orbeon label.xforms-label {
    margin: 1px 5px 0px 0px;
    padding: 0px;
    display: inline;
    display: inline-block;
}

.orbeon .blocklabel, 
.orbeon label.xforms-label.blocklabel {
    padding: 0px;
    text-align:left;
    display:block;
}

.strong {
    font-weight: bold;
}

.disabled, .genre {
    color:#666;
}

span.no_margin {
    margin: 0px;
    padding: 0px;
}

/* fixed width for some elements for alignment */
.orbeon .fixed_width, .orbeon .fixed_width_short,
.orbeon .fixed_width_mediumlong, .orbeon .fixed_width_long {
    display:inline-block;
    text-align:left;
    margin: 1px 5px 0 0;
}

/* element list tables */
table.element_list {
    border: 0;
}

table.sub_element_list {
    width: 100%;
}

table.element_list tr.hoverclass:hover,
table.sub_element_list tr.hoverclass:hover {
    background-color:#ffffcc;
}
table.element_list td {
    border: 0;
    border-top: 1px dotted #999;
    margin: 0px;
    padding: 2px;
}

table.element_list tr.item_row td {
    border: 0;
}

table.element_list table tr td {
    padding: 0 2px;
    vertical-align: top;
}

#music-case table.element_list td {
    border-top: none;
    padding: 0;
}

img.tree {
    padding: 0;
    vertical-align: middle;
}

table.element_list td.buttons_cell {
    width: 155px;
    text-align: left;
    vertical-align:top;
}

table.element_list td.buttons_cell .xbl-dcm-element-buttons {
    display: inline;
}

table.element_list tr {
    margin: 2px 0 2px 0;
}

#music-case table.sub_element_list td.tree_cell {
    padding: 0 0 0 8px;
    width: 30px;
    white-space: nowrap;
}

table.element_list .xbl-dcm-element-buttons {
   /* display:block; */
    height: 22px;
}

table.element_list td.no_border {
    border: none;
    padding: 0px 2px;
}

/* file reference list*/
.file_ref_list {
    width: 700px; 
    height: 450px; 
    overflow:scroll;
    line-height: 1.3em;
}

.file_ref_list ul {
    margin: 0 0 5px 44px;
}

.file_ref_list ul li {
    margin: 0 0 -2px 0;
}

.file_ref_list .xforms-trigger img {
    vertical-align: middle;
}

/* component list */
table.component_list {
    width: 100%;
}

table.component_list td {
    margin: 0;
    padding: 0 2px 0 0;
    vertical-align: top;
}

table.component_list td.index_cell, table.component_list td.last_cell {
    width: 30px;
    padding-left: 8px;
}

table.component_list td.index_cell {
    background-image: url('/editor/images/tree-3.png');
    background-position: 10px 0;
    background-repeat: repeat-y;
}

/* About box */
div.about_header, div.about_footer {
    text-align: center;
}

/* css for help and warning pop-ups */

a.help, a.help_plain, a.warning,
.orbeon .xforms-trigger a.help {
    text-decoration: none;
    text-align: left;
    vertical-align:text-top;
    color: #999;
    background-color: rgba(255,255,192,0.5);
    border: 1px solid #999;
    font-weight: bold;
    padding: 0;
    font-size:.7em;
    line-height: 12px;
    cursor: help;
    position: relative;
    border-radius: 6px;
    display: inline;
    display: inline-block;
    width: 11px;
    height: 11px;
    /* For non-CSS3 FireFox */
    -moz-border-radius: 6px;    
}

a.help:hover, a.help:active {
    color: #999;
    text-decoration: none;
}

a.help_plain, a.popup {
    background-color:transparent;
    border: none;
    color: black;
    padding: 2px;
    font-weight: normal;
}

a.help_plain img {
    margin-bottom: -8px;
}

a.help span.comment, a.help_plain span.comment, 
a.warning span.comment, a.dcm_id span.comment,
a.popup span.comment,
div.popup {
    display:inline;
    position: absolute;
    visibility:hidden;
    white-space: normal;
    text-decoration:none;
    color: black;
    background-color:#dbd9ba;
    padding: 1px;
    padding-bottom: 5px;
    z-index:250;
    padding: 8px 4px 4px 4px;
    width: 200px;
    margin-top: 20px;
    margin-left: -5px;
    border: 1px solid #ddd;
    font-weight:normal;
    font-size: 1.2em;
    text-align: left;
    box-shadow: 7px 7px 10px 5px rgba(0,0,30,0.5);
    border-radius: 4px;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 7px 7px 10px 5px rgba(0,0,30,0.5);
    -moz-border-radius: 4px;
    /* For MSIE 6-8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333')"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333'); 
}

a.popup span.comment,
div.popup {
    background-color: #ccc;
    cursor: default;
    font-size: 1em;
    margin-top:0px;
    margin-left:-100px;
    width: auto;
}

a:hover.help span.comment, a:hover.help_plain span.comment, 
a:hover.warning span.comment, a:hover.dcm_id span.comment,
a:hover.popup span.comment {
    visibility:visible;
}

form.search a.help span.comment {
    width: 250px;
    margin-left:-250px;
}


a.help .help_table {
    display: table;
}

a.help .help_example {
    display: table-row;
}

a.help .help_label, a.help .help_value {
    padding-top: 6px;
    display: table-cell;
}

.search .help_label {
    padding-right: 8px;
    white-space: nowrap;
    font-family: courier, fixed, monospace;
}

/* Embedded fonts */
/* Unicode music symbols font */
@font-face {
	font-family: 'Bravura Text';
	src: url('fonts/BravuraText.eot');
	src: local('Bravura Text'), 
	       url('fonts/BravuraText.eot?#iefix') format('embedded-opentype'),
	       url('fonts/BravuraText.ttf') format('truetype'), 
	       url('fonts/BravuraText.woff') format('woff'), 
	       url('fonts/BravuraText.svg#BravuraText') format('svg');
} 

/* Runic font */
@font-face {
	font-family: 'Hnias';
	src: url('fonts/Hnias.eot');
	src: local('Hnias Regular'), local('Hnias'), 
	       url('fonts/Hnias.eot?#iefix') format('embedded-opentype'),
	       url('fonts/Hnias.ttf') format('truetype'), 
	       url('fonts/Hnias.woff') format('woff'), 
	       url('fonts/Hnias.svg#Hnias') format('svg');
} 
/* End embedded fonts */

