/* Header and footer */

#all {
    background-color: #445566;
}

#header p {
    padding: 0px;
}


/* Top menu */

#menu {
    height: 24px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #fff;
}

#menu a {
    display: block;
    float:left;
    width: auto;
    height: 21px;
    padding: 3px 10px 0 10px;
    text-decoration: none;
    color: #fff;
}

#menu a:hover, #menu .selected {
    color: #fff;
    background-color: #778899;
}


/* Other */

.toplink {
    float: right;
    margin-top: 15px;
}

.new {
    background-color: #ffff99;
}

/* CSS for text pages */

/*
body.text .work_number_reference {
    background-color: #ddd;
    border: 1px solid #666;
    padding: 0px 3px;
}
*/

body.text #main p, 
body.text #main div, 
body.text #main h2,
body.text #main h3,
body.text #main h4,
body.text #main ul
{
    max-width: 45em;
    line-height: 1.5em;
}

body.text #main h2 a,
body.text #main h3 a
{
    text-decoration:none;
    cursor: default;
}

body.text #main h2 {
    margin-top: .5em;
}

body.text #main h3 {
    margin-top: .5em;
}

body.text #main ul
{
    list-style-type: none;
    padding-left: 0;
}

body.text #main ul ul
{
    padding: 0 0 0 2em;
}

body.text #main li {
    margin-top: .5em;
}

body.text #toc li {
    margin: 1em 0 0 0;
}

body.text #toc ul li {
    margin: 0;
}


body.text #colophon {
    display: table;
}

body.text #colophon p {
    display: table-row;
}

body.text #colophon p span{
    display: table-cell;
    padding: 5px 10px 0 0;
}

/*
a.work_number_reference:link, a.work_number_reference:active, a.work_number_reference:visited, a.work_number_reference:hover {
    text-decoration:none;
    color: #444;
    white-space: nowrap;
}

a.work_number_reference:hover {
    color: #000;
}
*/

.alternative_language,
#main .alternative_language a,
.classification, .colophon {
    font-size : .85em;
    color: #666;
}
