/* Header and footer */

#all {
    background-color: #445566;
}

#header p {
    padding: 0px;
}


/* Top menu */

#menu {
    height: 24px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #fff;
}

#menu a {
    display: block;
    float:left;
    width: auto;
    height: 21px;
    padding: 3px 10px 0 10px;
    text-decoration: none;
    color: #fff;
}

#menu a:hover, #menu .selected {
    color: #fff;
    background-color: #778899;
}

/* Other */

.result_row .composer {
    height: 2px; /* composer not shown in the CNW result list */
}
