body {
}

div.header {
    margin: -20px;
    margin-bottom: 0px;
    padding: 10px 20px;
/*    border-bottom: 1px solid #666;*/
}

div.footer {
    margin: 0 -20px 20px -20px;
    padding: 10px 20px;
/*    border-top: 1px solid #666;*/
/*    background-color: #e5e1bf;*/
}

p.footer {
        border-top: 1px solid #666;
        padding-top: 10px;
}

.footer, .footer a:link, .footer a:visited, .footer a:active {
    color: #000;
}

div.main {
    margin: 0px 0px;
    padding: 10px 10px;
    background-color: #fff;
}

h1 {
  font-size: 1.8em;  
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

table {
    width: auto;
    padding:0px;
}

td {
    border: 0px;
}

a:link, a:visited, a:active, a:hover {
   /* text-decoration: none; */
}

a img {
    border: none;
}

ul {
    padding-left: 25px;
    margin-left:0;
}

li {
    margin-bottom: 10px;
}

.logo_color {
    color: #76923C;
}