div.front_page_header {
    height: 44px;
    margin: 0px -10px 10px -10px;
    background-color: #444 !important;
    border: 1px solid #444;
    padding: 5px;
}

div.main {
    background-color: #eee;
    padding: 0 10px 10px 10px;
    border: 1px solid #999;
}

div.footer, p.footer {
    margin: 0 -20px 20px -20px;
    padding: 10px 20px;
}


.footer, .footer a:link, .footer a:visited, .footer a:active {
    color: #444;
}

table {
    padding:0px;
}

td {
    border: 0px;
}

p {
    margin-top: 10px;
}