body {
    background-color: #ddd;
}

div.manual_header {
    background-color: #999;
    margin: -20px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

div.toplink {
    float:right;
}

div.toplink a {
    text-decoration: none;
}

h1 {
  font-size: 1.8em;  
}

h2 {
    font-size: 1.5em;
}

table {
    width: auto;
    padding:2px;
}

table.unicode_table {
    font-size: 2em;
    border: none;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}

table.unicode_table p {
    font-size: .6em;
}

table.unicode_table td {
    text-align: center;
    border: none;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
}


a:link, a:visited, a:active, a:hover {
   /* text-decoration: none; */
}

a img {
    border: none;
}

ul {
    padding-left: 25px;
    margin-left:0;
}

ul.important {
    list-style-image: url('../images/important.png');
    padding-left: 30px;
    margin-left:0;
    background-color: #ffeeaa;
}

ul.important li {
    padding: 5px;
}

map.manual {
    border: none;
}

map.manual area {
    cursor: help;
    border: 1px solid red;
}

.close_div {
    float:right;
}

img.illustration {
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px #333;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 10px 10px 10px #333;
}

a.trigger {
    text-decoration: none;
    padding: 1px;
}


a.trigger img {
    padding: 2px;
}

a.trigger img:hover {
    border:1px solid #999999;
    padding: 1px;
}

.footer, .footer a:link, .footer a:visited, .footer a:active {
    color: #888888;
}