body {
    background-color: #f2f2f2;
}


table {
    width: auto;
    padding:2px;
}

ul.important {
    list-style-image: url('../images/important.png');
    padding-left: 25px;
}

.footer, .footer a:link, .footer a:visited, .footer a:active {
    color: #888888;
}