/* CSS for MerMEId XForms - supplement for model editor forms */

body {
    font-size: .8em;
    font-family: arial, helvetica, sans-serif;
    background-color: #aaaaaa;
    margin: 0px;
    padding:0 0 20px 0;
}

