input, select {
    background-color: #fff;
    color: #000;
}

div.spacer {
    display: table-cell;
}

div.spacer div {
    width: 15px;
}

/* CSS for the filter area */

div.filter {
    display: table-cell;
    vertical-align: top;
    width: 350px;
    background-color: #f0f0f0;
    font-size: .9em;
    padding: 10px;
    margin: 15px 15px 0 0;
}

div.filter_block {
    float: left;
    width: auto;
    margin: 5px 0;
}

div.genre_filter span.genre_indicator {
    display: inline-block;
    width: 15px;
}

div.genre_filter a {
    text-decoration: none;
}

div.genre_filter a:hover {
    text-decoration: underline;
}

div.genre_filter_row {
    margin: 3px 0;
    text-indent: -20px;
    padding-left: 20px;
}

div.filter_block .label {
    font-weight: bold;
    line-height: 2em;
} 

#notbefore,
#notafter {
    width : 48px;
}

/* CSS for the result list */

#itemsPerPageForm {
    float: right;
}

div.results {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.result_row {
    margin: 15px 0;
}


.result_row a {
    text-decoration: none;
    color: inherit;
}

.result_row .composer,
.result_row .title {
    border-left:  1px solid #aaa;
    border-right: 1px solid #aaa;
}

.result_row .composer {
    font-size: .85em;
    border-top: 1px solid #aaa;
    padding: 2px 5px;
}

.result_row .title {
    font-size: 14pt;
    padding: 0 5px 8px 5px;
}

.result_row .date {
    font-size: .85em;
    float: right;
    padding: 2px 5px;
}

.info_bar {
    font-weight: bold;
    font-size: .85em;
    background-color: #eee;
}

.info_bar span {
    display: table-cell;
    padding: 0;
}

.info_bar span.genre span {
    padding: 3px 8px;
    display: inline;
    display: inline-block;
}

.info_bar span.list_id {
    width: auto;
    background-color: #444;
    color: #fff;
    white-space: nowrap;
    padding: 3px 8px;
}

/* css for help and other pop-ups */

div.popup button {
    text-align:left;
    width: 100%;
    min-height: 26px; 
}

a.help {
    text-decoration: none;
    text-align: left;
    vertical-align:text-top;
    color: #888888;
    background-color: #ffffcc;
    border: 1px solid #888888;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    font-size:.8em;   
    cursor: help;
    border-radius: 2px;
    /* For non-CSS3 FireFox */
    -moz-border-radius: 2px;    
}

a.help_plain {
    cursor: help;
}

a.help span.comment, a.help_plain span.comment {
    display:inline;
    position: absolute;
    visibility:hidden;
    white-space: normal;
    text-decoration:none;
    color: black;
    background-color:#dbd9ba;
    padding: 1px;
    z-index:250;
    padding: 4px;
    width: 200px;
    margin-top: 20px;
    margin-left: -5px;
    border: 1px solid #ddd;
    font-weight:normal;
    box-shadow: 10px 10px 10px #333;
    border-radius: 4px;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 10px 10px 10px #333;
    -moz-border-radius: 4px;
    /* For MSIE 6-8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333')"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333'); 
}

a.help span.comment {
    font-size: 1.2em;
}

a:hover.help span.comment, a:hover.help_plain span.comment  {
    visibility:visible;
}

form.search a.help span.comment {
    width: 250px;
    margin-left:-250px;
}


a.help .help_table {
    display: table;
}

a.help .help_example {
    display: table-row;
}

a.help .help_label, a.help .help_value {
    padding-top: 6px;
    display: table-cell;
}

form.search a.help .help_label {
    padding-right: 8px;
    white-space: nowrap;
    font-family: courier, fixed, monospace;
}

/* genre color codes */

/* main categories */
.stage_music                { background-color: #812970;
                              color: #fff; }
.instrumental_music         { background-color: #5b8896;
                              color: #fff; }
.vocal_music                { background-color: #c9a044;
                              color: #fff; }

/* sub-categories */
.opera                      { background-color: #f72c8d;
                              color: #fff; }
.opera .pos1                { background-color: #C72371;}

.incidental_music           { background-color: #c72279;
                              color: #fff; }
.incidental_music .pos1     { background-color: #A01B61;}

.ballet                     { background-color: #9c1dac;
                              color: #fff; }
.ballet .pos1               { background-color: #7E178A;}

.symphony                   { background-color: #4c89fe;
                              color: #fff; }
.symphony .pos1             { background-color: #3D6ECD;}

.concerto                   { background-color: #01aef5;
                              color: #fff; }
.concerto .pos1             { background-color: #008CC5; }

.other_orchestral_music     { background-color: #00b7c0;
                              color: #fff; }
.other_orchestral_music .pos1 
                            { background-color: #00939B;}

.chamber_music              { background-color: #01df87;
                              color: #fff; }
.chamber_music .pos1        { background-color: #00B46D;}

.piano_music, .organ_music,
.music_for_one_instrument   { background-color: #55de01;
                              color: #fff; }
.piano_music .pos1, .organ_music .pos1,
.music_for_one_instrument .pos1  
                            { background-color: #44B300;}

.music_for_vocal_soloists_and_instruments_with_or_without_choir  
                            { background-color: #f3fb53;
                              color: #000; }
.music_for_vocal_soloists_and_instruments_with_or_without_choir .pos1 
                            { background-color: #C4CA43;}

.choral_music_with_instruments 
                            { background-color: #ffb147;
                              color: #fff; }
.choral_music_with_instruments .pos1 
                            { background-color: #CE8E39;}

.a_cappella_choral_music    { background-color: #ff7647;
                              color: #fff; }
.a_cappella_choral_music .pos1 
                            { background-color: #CE5F39;}

.song                       { background-color: #fc495e;
                              color: #fff; }
.song .pos1                 { background-color: #CB3A4B;}
