/*
Override default styles for YUI Rich Text Editor.
Danish Centre for Music Publication 
The Royal Library, Copenhagen 2012 
*/

.yui-editor-container {
    width: auto !important; /* override fixed width */
    margin: 0 5px 0 0;
    display: inline-block !important; /* enable adding content next to textarea */
    
}

.yui-editor-editable-container {
    height: 8em !important; /* height of editable area */
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
    padding: 2px; /* compact toolbar */
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-group h3 {
    display: none;  /* hide button headings */
}